version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: devcheck
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: always

  devcheck-bot:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - db

